<% include partials/header %>

  <h1>This is the home page</h1>

  <img src="https://fivethirtyeight.com/wp-content/uploads/2016/10/betts-crop.png?quality=90&strip=info&w=1024&ssl=1">
  <% include partials/footer %>